apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-dev-deployment
  labels:
    app: flask-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask-dev
  template:
    metadata:
      labels:
        app: flask-dev
    spec:
      containers:
        - name: flask-dev
          image: cithit/gaddiehl:latest
          ports:
            - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: flask-dev-service
spec:
  type: NodePort
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000
    nodePort: 30080
  selector:
    app: flask-dev

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx
spec:
  rules:
  - host:
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: flask-dev-service
            port:
              number: 80